@font-face {
	font-family: 'icomoon';
	src:url('../icomoon/icomoon.eot');
	src:url('../icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icomoon/icomoon.woff') format('woff'),
		url('../icomoon/icomoon.ttf') format('truetype'),
		url('../icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: "Raleway", sans-serif
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.color-5{
    display: inline-flex;

}

.card-details{
    margin-top:50px;
    display:inline-flex;
    margin-bottom: 40px;
}
.card-address{
    display:inline-flex;
    border-bottom: 1px solid rgba(92, 92, 92, 0.651);
    width:354px;
    padding-bottom: 13px;
}
.text-on-pannel {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    height: auto;
    padding: 3px 2px;
    position: absolute;
    margin-top: -42px;
    color: rgba(92, 92, 92, 0.651);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(92, 92, 92, 0.651);
    line-height: 0.1em;

}
hr.style1{
	border-top: 1px solid #8c8b8b;
}
#address-icon{
    padding-right:16px;
}

.underline{
    border-bottom: 1px solid black;
}

h3 span {
    background:#fff;
    padding:0 10px;
}
.btn {
    border-radius: 0px;
	border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 23px;
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-cart:before {
	content: "\e9ca";
}



.btn-5 {
    height: 48px;
    min-width: 177px;
    line-height: 20px;
    font-size: 15px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-5:active {
	background: #9053a9;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
    height: 100%;
    width: 100%;
    line-height: 1.9;
    font-size: 180%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-5:active:before {
	color: #703b87;
}

.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}


.panel {
    border-radius: 0px;
    border-left-style: none;
    border-right-style: none;
}

.panel-body {
    padding-top: 30px !important;
}

.modal-dialog{
    padding-top: 10%;
}

#close-btn{
    margin: 80px 14px;
    font-size: 3.5rem;
    color: #fffdfd;
}

.row {
    padding-top: 35px;
}

body.modal-open .row{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);

}


.picture-modal-img{
    max-width: 150%;
    min-width: 50%;
}

#profile {
    border-radius: 50%;
    width: 45px;
    margin-top: 3px;
}



.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    background-color: #343a40;
    padding-top: 25px;
    margin-top: 118px;
    text-align:center;
}

.container-fluid {
    box-shadow: 0 10px 53px #7474747d;
}

.navbar-brand{
    padding-left: 7px;
    margin-top: 5px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}