.img-fluid {
    max-width: 100%;
    height: auto;
}


/* Cards */


/*.jumbotron {
    background-color: #070908 !important;

}*/

.test {
    margin-left: -148px;
    margin-right: -139px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif
}

.cards {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    background-color: #fff;
    color: #111;
    line-height: 1.2em;
}

.cards *,
.cards *:before,
.cards *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.cards img {
    max-width: 100%;
    vertical-align: top;
}



.cards address {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 4px;
    color: #3a3333;
    padding-left: 47px;
    width: 250%;

}



.cards .icons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cards .icons a {
    margin: 2px;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    text-decoration: none;


}

.cards .icons a i {
    display: block;
    font-size: 23.52941176px;
    line-height: 40px;
    width: 40px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    
}




.cards:hover a,
.cards.hover a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);

}

.cards:hover a:nth-child(2),
.cards.hover a:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.cards:hover a:nth-child(3),
.cards.hover a:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards span {
    font-size: 1.8em;
    left: auto;
    right: 134px;
    top: 14px;
}

.text-on-pannel {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    height: auto;
    margin-left: 25%;
    padding: 2px 2px;
    position: absolute;
    margin-top: -47px;
    color: rgba(92, 92, 92, 0.651)
}

.panel {
    /* for text on pannel */
    border-radius: 0px;
    border-left-style: none;
    border-right-style: none;
}

.panel-body {
    padding-top: 30px !important;
}


/* Demo purposes only */

body {
    background-color: rgba(247, 242, 242, 0.39);
}

.row {
    padding-top: 35px;
}


/* Profile */

#profile {
    border-radius: 50%;
    width: 45px;
    margin-top: 3px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}


/* footer */

.footer {
    background-color: #222222;
    padding-top: 25px;
    margin-top: 118px;
}

.container-fluid {
    box-shadow: 0 10px 53px #7474747d;
}
