{% load static %}
<html lang="en">

<head>
    <title>BallerWeb</title>
    <link rel="icon" type="image/gif" href="//logo.clearbit.com/ballerapp.net"/>
    <link rel="stylesheet" href="{% static 'ballerapp/css/bootstrap.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="{% static 'ballerapp/js/base.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'ballerapp/css/base_design.css' %}"/>

</head>

<body class="body">
<div class="background-img">
    <img src="{% static 'ballerapp/img/streetball_1.jpg'%}" class="img-fluid" alt="Responsive image">
</div>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark sticky-top">
    <img id="profile" src="//logo.clearbit.com/ballerapp.net">
    <a class="navbar-brand" href="#">BallerWeb</a>

    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="navbar-item">
            <a class="nav-link" href="/ballerweb/logout/">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ballerweb/add_place/">Add Courts</a>
        </li>
        {%else%}
        <li class="navbar-item">
            <a class="nav-link" href="/ballerweb/login/">Login</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/ballerweb/register/">Register</a>
        </li>

        {% endif %}
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <br/>
            <div class="card-columns">
                {% for adresse in adresse %}
                <div class="card">
                    {% if adresse.place_pic %}
                    <img src="{{ adresse.place_pic.url }}" class="card-img-top" alt="Card image"/>
                    {% else %}
                    <h2>no Picture</h2>
                    {%endif%}
                    <div class="cards-icons">
                        <section class="color-5">
                            <p id="btn-location">
                                <a onclick="showImage('https://maps.googleapis.com/maps/api/staticmap?center={{ adresse.city }}+{{ adresse.street }}+{{ adresse.hous_number }}&zoom=18&scale=false&size=600x300&maptype=satellite&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C{{ adresse.city }}+{{ adresse.street }}+{{ adresse.hous_number }}')">
                                    <button class="btn btn-5 btn-5a icon-cart btn-secondary"><span>Location</span>
                                    </button>
                                </a>
                            </p>
                            <p id="btn-court">
                                {% if adresse.place_pic %}
                                <a onclick="maximize( '{{ adresse.place_pic.url}}' )">
                                    <button class="btn btn-5 btn-5a icon-cart btn-secondary"><span>Court</span></button>
                                </a>
                                {% endif %}
                            </p>
                        </section>
                    </div>
                    <div class="card-details">
                        <h3 class=" text-on-pannel">
                            <span>
                                <strong>Address</strong>
                            </span>
                        </h3>
                        <div class="card-address">
                            <ul id="address-icon">
                                <i class="fas fa-map-marker-alt fa-lg"></i>
                            </ul>
                            <address id="address">
                                {{ adresse.country }} , {{ adresse.city }} ,
                                {{ adresse.street }} {{ adresse.hous_number }}<br>
                            </address>
                            <hr>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog" role="document">
        <img class="picture-modal-img">
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">There is nothing to see</span>
    </div>
</footer>
</body>
</html>
