{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>

<html lang="en">
    <head>


        <title>BallerWeb</title>


        <link rel="stylesheet" href="{% static 'ballerapp/css/basedesign.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    </head>

    <body class="body">

            <img class="img-fluid" id="pic" src="{% static 'ballerapp/img/streetball.jpg'%}" alt="">
            <hr/>

            <a href="/ballerweb/register/"> <button class="btn btn-primary">Register</button> </a>

            <a href="/ballerweb/login/"> <button type="button" class="btn btn-primary">Login</button> </a>
            <a href="/ballerweb/add_place/"> <button type="button" class="btn btn-primary">Create Place</button> </a>
            <hr/>
            
    </body>


</html>