{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>BallerWeb</title>
        <link rel="stylesheet" href="{% static 'ballerapp/css/base_design.css' %}" />
        <link rel="stylesheet" href="{% static 'ballerapp/css/bootstrap.css' %}" />

    </head>

    <body>
            <div class="container">
                <div class="row">
                    <form method="post" action="/ballerweb/login/">
                        {% csrf_token %}
                        <label> <b>Username </b> </label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <label> <b>Password </b> </label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <button type="submit">login</button>
                    </form>
                </div>
            </div>
    </body>
</html>

